#[Member]
ETCD_NAME="{{etcd_name}}"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{ etcd_listen_peer_urls }}:2380" # https://192.168.1.201:2380
ETCD_LISTEN_CLIENT_URLS="https://{{etcd_listen_client_urls}}:2379" # https://192.168.1.201:2379
#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_init_adv_per_url }}:2380" # https://192.168.1.201:2380
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_adv_cli_url }}:2379" # https://192.168.1.201:2379
ETCD_INITIAL_CLUSTER="{{ etct_init_cluster_list }}" # etcd01=https://192.168.1.201:2380,etcd02=https://192.168.1.202:2380,etcd03=https://192.168.1.203:2380
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"